@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  .projects-container .project-container {
    min-width: auto;
  }
  .arrow {
    display: none;
  }
}

@media screen and (max-width: 455px) {
  .details-container {
    padding: 0;
  }
  #projects .experience-details-container {
    width: 200px;
  }
  .projects__title {
    margin: 0;
  }
  .project-container {
    width: 100%;
  }
}
