/* CSS VARIABLES */

:root{
  /* FONTS */

  --poppins: "Poppins", sans-serif;

  /* COLORS */

  --color-p: rgb(85, 85, 85);

  --black-a: black;

  --black-project-title: black;

  --project-btn-color: black;

  
}

/* General */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--poppins);
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

p {
  color: var(--color-p);
  font-size: clamp(0.8rem,1.6vw,3rem);
}

.btn.disabled-button{
  pointer-events: none;
  background: #737373;
  color: white;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: clamp(1rem, 3vw, 4rem);
  font-size: clamp(0.9rem, 2vw, 2rem);
  list-style: none;
}

a {
  color: var(--black-a);
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  text-decoration: underline;
  color: gray;
  text-decoration-color: rgb(181, 181, 181);
  text-underline-offset: 1rem;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5rem;
  width: 2rem;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform-origin: left center;
  transform: rotate(45deg);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform-origin: left center;
  transform: rotate(-45deg);
}

/* SECTIONS */

section {
  min-height: 96vh;
  padding-top: 4vh;
  min-width: fit-content;
  max-width: 1200px;
  /* display: none; */
  margin: 0 10vw;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  min-height: 80vh;
  flex-wrap: wrap;
}

.section__pic-container {
  display: flex;
  height: 25rem;
  max-width: 25rem;
  margin: auto 0;
  flex: 1;
  justify-content: center;
}

.section__pic-container img{
  width: clamp(20rem, 50vw, 100rem);
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p2 {
font-size: clamp(1.5rem, 3vw, 5rem);
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(53, 53, 53);
}

.section__text__p1 {
  text-align: center;
}

.title {
  font-size: clamp(2rem,4.5vw,5rem);
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

#profile .section__pic-container img{
  border-radius: 50%;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: clamp(1.5rem , 2.5vw , 3rem);
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.btn {
  font-weight: 600;
  padding: 1rem;
  border-radius: 2rem;
  width: 8rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background-color: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background-color: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
  width: clamp(1rem,auto,4rem);
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2rem;
}

.details-container {
  padding: 1.5rem;
  background-color: white;
  flex: 1;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  text-align: center;
  border-color: rgb(163, 163, 163); /**/
}

.section-container {
  gap: 4rem;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;
}

.text-container{
  text-align: justify;
}

/* EXPERIENCE */

.article-container .experience__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  gap: 2rem;
}

.experience__row article {
  display: flex;
  text-align: initial;
  gap: 1rem;
  min-width: 7rem;
  max-width: 1rem;
}

article .icon {
  cursor: default;
}

.experience-sub-title {
  color: var(--color-p);
  font-weight: 600;
  font-size: clamp(1.3rem, 2.5vw, 3rem);
  margin-bottom: 2rem;
}
#experience {
  position: relative;
  width: 80vw;
}

#experience .experience-details-container .details-container{
  padding: 0;
}

/* PROJECTS SECTION */

.project-img {
  max-width: 100%;
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem 0;
  color: var(--black-project-title);
}

.color-container {
  background: rgb(250, 250, 250);
  border-color: rgb(163, 163, 163);
}

.project-btn {
  color: var(--project-btn-color);
  border-color: rgb(163, 163, 163);
}

.project-btn:hover{
  text-decoration: none;
}

#projects {
  position: relative;
  height: fit-content;
}

.projects-container {
  flex-wrap: wrap;
}

.projects-container .project-container {
  min-width: 0;
  flex: 1 1 20%;
}

.projects__title {
  border: black 0.1rem solid;
  margin: 0 10rem;
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 1rem 0;
}

.project__sub-title {
  margin-top: 3.5rem;
}

.cv-projects {
  position: relative;
}

#practicing-projects-arrow {
  bottom: initial;
}

/* CONTACTS */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  padding: 0.5rem;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: clamp(0.8rem,1.6vw,3rem);
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: clamp(2rem,3vw,3.5rem);
}

/* FOOTER */

footer {
  margin: 0 1rem;
  height: 26vh;

}

footer p {
  text-align: center;
}
